# Required Secrets
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
HR_WEBHOOK_API_KEY=
IDENTITY_PROVIDER=
GITHUB_SIMULATE=
REDIS_URL=
GITHUB_TOKEN=
GITHUB_ORG=